
body {margin: 0;}
.nav-links{
    background-color: #333;
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
    width: 100%;
    top:0;
    position: fixed;
    /* border: 1px solid; */
    overflow: hidden;  /* automatic scrol whenever the list is large */
}
.nav-links li{
    float:left; /* place each link at the left side of the previous one */
    width: 25%;
}
.nav-links li a{
    display: block;
    background-color: rgb(245, 241, 241);
    text-decoration: none;
    text-align:center;
    height: 40px;
}


.nav-links li a:hover{
    /* background-color: gold; */
    color:blue;
}

.nav-links li a:active{
    background-color: rgb(185, 187, 185); 
    color: white;
}
